<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <div class="m-5">
    <h1>Welcome!</h1>
    <h3>Enter a player name to play a choose-your-own adventure game!</h3>
    <form class="border border-dark p-4" action="/game" method="get" target="_self">
      <label for="name">Player name:</label>
      <input type="text" id="name" name="name"><br><br>
      <input class="btn btn-success" type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
